* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 62.5%;

}
body {
    font-family: 'Sarabun', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.zero-two {
    position: fixed;
    bottom: 0;
    z-index: 6;
}
.z2 {
    height: 10rem;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #253146;
}
.landheader {
    flex-direction: row;
    display: flex;
}
.header-landing-text {
    top: 40rem;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Sarabun', sans-serif;
    align-self: flex-start;
    

    z-index: 1;
}

.landing-waifu {
    z-index: 2;
    height: 80rem;
    position: relative;
    left: 10rem;
}
.landing-waifu:hover {
    transition: 2s ease-out;
    transform: scale(1.02);
}

.landing-text {
    font-family: 'Sarabun', sans-serif;
    font-weight: 1300;
    font-size: 7rem;
    color: white;
    position: relative;
    top: 30rem;
    left: 10rem;
}

.landing-register {
    font-size: 2rem;
    border-radius: 2rem;
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-top: 8rem;
    top: 30rem;
    left: 25rem;
}

.landing-register:hover {
    background-color: white;
    color: #253146;
    transition: all .5s;
}

.sub-texto {
    
    font-weight: 500;
    position: relative;
    top: 30rem;
    left: 18rem;
    font-size: 2rem;
    color: white;
}

.box-down {
    margin-right: 42rem;
    margin-left: 42rem;
    height: 50rem;
    background-color: white;
    border-radius: 5rem;
    position: relative;
    bottom: 8rem;
    z-index: 4;
    border: solid .5px #5a5a5a2d;
    

}
.tamanho {
    height: 45rem;
    overflow: hidden;
    position: relative;
    top: 1rem;
    
}

ul {
    list-style: none;
}
.samples {
    left: 2rem;
    top: 2rem;
    position: absolute;
    margin: 2rem;
}
.eae {
    position: relative;
    font-size: 2rem;
    left: 45rem;
    bottom: 25rem;

}
.creator {
    font-size: 2rem;
    border-radius: 1rem;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: 60rem;
    bottom: 22rem;
    border: 3px solid black;
}
.creator:hover {
    background-color: black;
    color: white;
    transition: all .2s ease-out;
    border: 3px solid white;
}